@model List<FenXiao.Web.Models.fujianDto>
@{
    Layout = null;
}



@if (Model.Count == 0)
{
    <a href="#">此线路没有附件</a>
}
else
{
    foreach (var item in Model)
    {
        <a href="@item.url" target="_blank">@item.name</a>
    }
}


@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9" />
    <meta name="renderer" content="webkit" />
    <title>下载线路</title>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            @if (Model.Count == 0)
            {
                <div class="col-md-8 col-md-offset-2">
                    <a href="#">此线路没有附件</a>
                </div>
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="col-md-8 col-md-offset-2">
                        <a href="@item.url" target="_blank">@item.name</a>
                    </div>
                }
            }
        </div>

    </div>
</body>
</html>*@
