@using FenXiao.Model
@model List<User>
@section title{
    <title>零售商-公司管理</title>
}
<!--60px占高层-->
<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置：公司管理 >> 编辑资料</p>
    <!--公司信息板块-->
    <div class="company_total">
        @Html.Action("CompanyInfo")
    </div>
    <div>

    </div>
</div>
@section scripts{
<script type="text/javascript">
    $("#Menu").children("li").eq(0).removeClass("active");
    $("#Menu").children("li").eq(1).removeClass("active");
    $("#Menu").children("li").eq(2).removeClass("active");
    $("#Menu").children("li").eq(3).removeClass("active");
    $("#Menu").children("li").eq(4).removeClass("active");
    $("#Menu").children("li").eq(5).removeClass("active");
    $("#Menu").children("li").eq(5).addClass("active");
</script>

}