@model FenXiao.Model.HandleApply
@section title{
    <title>零售商-公司管理-消息中心</title>
}
<div class="h60"></div>
<div class="part">
    @if (Model.State == (int)EnumMessageState.tongguo)
    {
        <span>成功成为批发商，登陆总账号和当前总账号一致。管理用户可以正常使用</span>
    }
    else
    {
        <h3>申请被拒绝</h3>
        <p>Model.Reason</p>
    }
    </div>
    @section scripts{
<script type="text/javascript">
    $("#Menu").children("li").eq(0).removeClass("active");
    $("#Menu").children("li").eq(1).removeClass("active");
    $("#Menu").children("li").eq(2).removeClass("active");
    $("#Menu").children("li").eq(3).removeClass("active");
    $("#Menu").children("li").eq(4).removeClass("active");
    $("#Menu").children("li").eq(5).removeClass("active");
    $("#Menu").children("li").eq(5).addClass("active");
</script>

    }
