@using FenXiao.Model
@model List<Message>
@section title{
    <title>零售商-公司管理-消息中心</title>
}
<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置：消息中心</p>
    <!--公司信息板块-->
    <div class="company_total">
        @Html.Action("CompanyInfo")
    </div>
    <!--管理员详情-->
    <div class="admin_part">
        <table class="table" id="MemberTable">
            <thead>
                <tr>
                    <th>#序号</th>
                    <th>标题</th>
                    <th>创建时间</th>
                    <th>相应操作</th>
                </tr>
            </thead>
            <tbody class="fs08 tcenter">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.MessageContent</td>
                        <td>@item.CreateTime.ToString("yyyy年MM月dd日，HH点mm分")</td>
                        <td>
                            <span class="company_btn"><a href="/Marketer/MHome/Read/@item.Id">查看详细</a></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
<script type="text/javascript">
    LeftMenuSelect(5);
</script>

}