@section title{
    <title>零售商-搜索线路-立即占位</title>
}

<!--60px占高层-->
<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置：搜索线路 >> 填写成员信息 </p>
    <!--搜索结果区域-->
    <div class="search_input_result_tab">
        <p>所选占位订单</p>
    </div>
    <div class="line_details_title">
        <div id="ProductInfo">
            <div class="title_left">
                <h1><a href="/Marketer/MSearch/LineDetail?Id=32">台湾环岛八日游</a></h1>
                <p>批发商：<span class="f-lightblue">OurEDA</span>　　　发团时间：<span class="f-lightblue">2014/8/30</span>　　　　您的下单数量：<span style="color:red">5</span> 份</p>
                <p>建议零售价：3580元</p>
            </div>
            <div class="title_right">
                <div class="title_right_others">
                    <p class="price">成人价：<span class="number">¥3000</span>元/人</p>
                    <p class="price">儿童价：<span class="number">¥2500</span>元/人</p>
                </div>
                <b class="waveline"></b>
            </div>
        </div>
        <div class="h20 clear"></div>
        <hr />
        <div class="member_blank">
            <div class="member_item">
                <div class="member_item_head">
                    <span id="FoldItem">折叠本条</span>
                    <span><input type="checkbox">选中</span>
                </div>
                <div class="member_item_body">
                    <p>姓名：<input type="text" name="m_name">　　　
                       姓(拼音)：<input type="text" name="m_xing">　　　
                       名(拼音)：<input type="text" name="m_ming">
                    </p>
                    <p>
                        性别：<select name="m_sex">
                                <option value="man">男</option>
                                <option value="woman">女</option>
                            </select>　　
                        生日：<input type="text" name="m_birth">　　
                        出生地：<input type="text" name="m_birthplace">
                    </p>
                </div>
            </p>
        </div>
    </div>
</div>

