@section title{
    <title>零售商-搜索线路-立即占位</title>
}
@using FenXiao.Model
@model Product
<!--60px占高层-->
<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置：搜索线路 >> 立即占位</p>
    <!--搜索结果区域-->
    <div class="search_input_result_tab">
        <p>所选占位订单</p>
    </div>
    <div class="line_details_title">
        @Html.Action("ProductInfo", new { ProductId = ViewBag.ProductId })
        <div class="h20 clear"></div>
        <hr />
        <div class="order_input" id="OrderPart">
            <input hidden="hidden" id="Id" name="Id" value="@(ViewBag.ProductId)" />
            <p class="single">预定数量：<input id="AllCount" name="AllCount" type="text" value="0">份</p>
            <p class="single"><span id="submit" class="btn_sub">提交订单</span></p>
        </div>
    </div>
</div>
<!--/part结束-->
@section scripts{
    @*侧边栏切换焦点操作*@
    <script type="text/javascript">
        LeftMenuSelect(0);
    </script>
    @*提交订单操作*@
    <script type="text/javascript">
        $("#submit").click(function () {
            @*数据效验*@
            if (isNaN($("#AllCount").val()) || $("#AllCount").val() < 0) {
                alert("数量不能非数字或为负数！");
                $("#AllCount").focus();
                return;
            }

            @*发送Ajax请求*@
            $.ajax(
                     {
                         url: "/Marketer/MSearch/ReserveNowAjax",
                         type: "POST",
                         data:
                             {
                                 Id: $("#Id").val(),
                                 AllCount: $("#AllCount").val()
                             },
                         beforeSend: function (XMLHttpRequest) {
                             $("#submit").html("正在提交，请不要关闭页面");
                             $("#submit").addClass('stop');
                         },
                         success: function (data) {
                             if (data.Ok == "200") {
                                 $("#OrderPart").html('<div class="btn-part">\
                                    <span class="btn_cancel">返回主页</span>\
                                    <span class="btn_sub">查看购买信息</span>\
                                 </div>');
                             }
                             else if (data.Ok == "300") {
                                 alert("该线路已被禁用");
                                 location.reload(true);
                             }
                             else if (data.Ok == "100") {
                                 alert("数量超出");
                                 location.reload(true);
                             } else {
                                 alert("未知原因出错");
                                 location.reload(true);
                             }                            
                         },
                         error: function () {
                             alert("好像出错了，确认后自动刷新该页面");
                             location.reload(true);
                         }
                     })
        });
    </script>
}