
@{
    Layout = null;
    ViewBag.Title = "BadRequestt";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
            font-family: "微软雅黑";
        }

        .b404 {
            background: url(../../images/404.png) no-repeat left;
        }

        .b500 {
            background: url(../../images/500.png) no-repeat left;
        }

        .main {
            width: 500px;
            height: 200px;
            margin: 150px auto;
            background-size: contain;
        }

            .main h3 {
                float: left;
                margin-left: 220px;
                font-size: 30px;
                margin-top: 100px;
                color: #5B5B5B;
            }

            .main p {
                float: left;
                margin-left: 150px;
                font-size: 15px;
                margin-top: 18px;
                color: #5B5B5B;
                letter-spacing: 3px;
            }

                .main p a {
                    color: #36F;
                }
    </style>
    <title>404-旅游分销系统</title>
</head>
<div class="main b500">
    <h3>服务器处理出现错误...</h3>
    <p>别着急，点击<a href="~/Wholesaler/WHome/MyLuXian">这里</a>就可以找到旅行的方向</p>
</div>

