
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using Webdiyer.WebControls.Mvc
@model PagedList<FenXiao.Model.Product>
@section styles{
    <link href="~/assets/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <style type="text/css">
        #SellingTable_filter {
            margin-right: 100px;
        }

        #SellingTable_length {
            margin-left: 50px;
        }

        .pagination .prev a {
            height: 22px;
        }

        .pagination .next a {
            height: 22px;
        }
    </style>
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            后台管理 <small>路线管理</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Admin/AHome/Index">主页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">路线管理</a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-bell-o"></i>线路列表</div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <div class="h60"></div>
                    <div class="part">
                        <div class="search_total">
                            <div class="details_part">
                                @using (Ajax.BeginForm("AllLines",
                new RouteValueDictionary { { "id", "" } },
                new AjaxOptions
                {
                    UpdateTargetId = "datatarget",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Post"
                }, new RouteValueDictionary { { "id", "searchFormkey" } }))
                                {
                                    <div class="top_line">
                                        <p>
                                            <input type="text" name="search" placeholder="输入您的搜索关键词" id="xianluname">
                                            <input type="submit" value="模糊搜索" />
                                        </p>
                                    </div>
                                }
                                @using (Ajax.BeginForm("AllLines",
                new RouteValueDictionary { { "id", "" } },
                new AjaxOptions
                {
                    UpdateTargetId = "datatarget",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Post"
                }, new RouteValueDictionary { { "id", "searchForm" } }))
                                {

                                    <div class="second_line" id="SecondLink_Details">
                                        <p>
                                            <span>
                                                发团时间：
                                                <input value="" type="text" name="sst" id="datepicker1" readonly> 至　
                                                <input value="" type="text" name="set" id="datepicker2" readonly>
                                            </span>
                                            <span class="second_line_ct">
                                                创建时间：
                                                <input value="" type="text" name="cst" id="datepicker3" readonly> 至　
                                                <input value="" type="text" name="cet" id="datepicker4" readonly>
                                            </span>
                                        </p>
                                        <p>
                                            线路编号：<input type="text" id="luxianid" name="luxianid">
                                            <span class="second_line_rn">
                                                热度：
                                                <select name="resetnum" id="restnumid">
                                                    <option value="0" selected="selected">全部</option>
                                                    <option value="1">最热</option>
                                                    <option value="2">正常</option>
                                                </select>
                                            </span>
                                            <span class="search_quick_title ml80">旅游公司:</span>
                                            @Html.Action("LineSearchByRangeParialView")
                                            <span class="serach_btn">
                                                <input type="submit" value="按条件搜索" />
                                            </span>
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!--路线管理板块-->
                    <div class="line_manage">
                        <div>
                            <div id="datatarget">
                                @Html.Partial("_AllLinesPartial", Model)
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#datepicker1, #datepicker2,#datepicker3,#datepicker4").datepicker({
                changeMonth: true,  //月份下拉列表
                changeYear: true,  //月份下拉列表
                //showOn: "both",    //点击图片和输入框都弹出面板
                showButtonPanel: true, //显示面板底部按钮
                closeTextType: "关闭", //关闭按钮文字
                currentText: "今天",   //返回今天按钮文字
                dateFormat: "yy-mm-dd",
                dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
                monthNamesShort: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月']
            });
        });
    </script>
    <script type="text/javascript">
        function serach(obj) {
            if ($(obj).hasClass('stop')) {
                return false;
            }
            $.ajax({
                url: "/Wholesaler/WHome/AllLuXian",
                type: "POST",
                data: {
                    sst: $("#datepicker1").val(),
                    set: $("#datepicker2").val(),
                    cst: $("#datepicker3").val(),
                    cet: $("#datepicker4").val(),
                    luxianid: $("#luxianid").val(),
                    restnum: $("#restnumid").val(),
                    companyid: $("#companyid").val()
                },
                beforeSend: function (XMLHttpRequest) {
                    $(obj).html("搜索中...");
                    $(obj).addClass('stop');
                },
                success: function (data, textStatus) {
                    $("#luxian").html(data);
                },
                complete: function (XMLHttpRequest, textStatus) {
                    $(obj).html("搜索线路");
                    $(obj).removeClass('stop');
                },
                error: function () {
                    alert("好像出错了，请刷新页面重试");
                }
            });
        }
    </script>
}