<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu">
        <li class="start ">
            <div class="sidebar-toggler hidden-phone"></div>
        </li>

        <li id="index">
            <a href="~/Admin/AHome/Index">
                <i class="fa fa-home"></i>
                <span class="title">后台首页</span>
            </a>
        </li>

        <li id="TypeManage">
            <a href="~/Admin/AManagement/DaLei">
                <i class="fa fa-home"></i>
                <span class="title">类别管理</span>
            </a>
        </li>   
        <li id="CompanyManage">
            <a href="~/Admin/ACompany/AllCompany">
                <i class="fa fa-home"></i>
                <span class="title">公司管理</span>
            </a>
        </li>
        <li>
            <a href="/Admin/ALine/AllLines">
                <i class="fa fa-home"></i>
                <span class="title">线路管理</span>
            </a>
        </li>
        <li>
            <a href="/Admin/AApply/index">
                <i class="fa fa-home"></i>
                <span class="title">未处理申请</span>
            </a>
        </li>
        <li>
            <a href="/Admin/AApply/DealedApply">
                <i class="fa fa-home"></i>
                <span class="title">已处理申请</span>
            </a>
        </li>  
        <li>
            <a href="/Admin/AWeChat/AllPage">
                <i class="fa fa-home"></i>
                <span class="title">所有营销页</span>
            </a>
        </li>
        <li>
            <a href="/Admin/AWeChat/LineList">
                <i class="fa fa-home"></i>
                <span class="title">管理营销页</span>
            </a>
        </li>
        <li>
            <a href="/Admin/AHelp/AllTypes">
                <i class="fa fa-home"></i>
                <span class="title">用户指南</span>
            </a>
        </li>
        <li>
            <a href="/Admin/AAdvertise/AllAdvertise">
                <i class="fa fa-home"></i>
                <span class="title">滚动广告</span>
            </a>
        </li>
        <li>
            <a href="/Admin/ASiteManager/Index">
                <i class="fa fa-home"></i>
                <span class="title">后台人员管理</span>
            </a>
        </li>
    </ul>
</div>

<input type="hidden" value="" id="platformid" />