@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Wholesaler/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        .hide {
            display: none !important;
        }
    </style>
</head>
<link href="~/Scripts/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/Content/ImageAdmin.css" rel="stylesheet" />
<div class="section">
    <br />
    <p style="color:red">一次可以上传多张图片，弹出上传选择框后，按住ctrl键可以多选</p>
    <form action="/Wholesaler/WWeChat/Create" id="PageAdmin" method="post">
        <div class="ImageArticle">
            <div class="uploader" id="uploader">
                上传图片
            </div>
            是否购买此路线的人都可以看到这个营销资料：
            <input type="radio" class="acc_type" value="public" name="state" checked>是
            <input type="radio" class="acc_type" value="private" name="state">否
            <input type="text" value="@ViewBag.Id" name="id" style="display:none" />
            <br />
            线路名称：
            <input type="text" value="" name="name" id="myname" />
        </div>


        <div class="AudioBox">
            <p class="AudioName">无</p>
            <input type="hidden" value="" class="Audio" name="Audio" />
            <audio src="" id="AudioSrc" controls></audio>
            <button class="btn_sub" id="AudioPick">添加背景音乐</button>
        </div>

        <div class="clear-float">
            <div class="submit">
                <input type="submit" value="提交" />
            </div>
        </div>
    </form>
</div>
<div class="clear-float"></div>
<div class="ImageBox template hide">
    <img src="#" />
    <input type="hidden" value="" name="images" />
    <div class="remove">
        <i></i>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/webuploader/webuploader.js"></script>
<script type="text/javascript" src="~/Scripts/ImageAdmin.js"></script>

