
@{
}

<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置：发布线路</p>
    <div class="after_create">
        <p class="alter">线路已成功上传<img src="~/images/iconfont-chenggong.png" /></p>
        <p class="link">
            <a href="#"><span>1.编辑微信页面</span></a>
            <a href="#"><span>2.返回线路列表</span></a>
        </p>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("#Menu").children("li").eq(0).removeClass("active");
        $("#Menu").children("li").eq(1).removeClass("active");
        $("#Menu").children("li").eq(2).removeClass("active");
        $("#Menu").children("li").eq(3).removeClass("active");
        $("#Menu").children("li").eq(4).removeClass("active");
        $("#Menu").children("li").eq(5).removeClass("active");
        $("#Menu").children("li").eq(0).addClass("active");
    </script>
}