@{
    //Layout = "~/Areas/Wholesaler/Views/Shared/_Layout.cshtml";
    Layout = null;
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9" />
    <meta name="renderer" content="webkit" />
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
    <!--引入JS-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/webuploader/webuploader.css">
    <script type="text/javascript" src="~/Scripts/webuploader/webuploader.js"></script>
    <script type="text/javascript">
        // 文件上传
        $(function () {
            var $ = jQuery,
                $list = $('#thelist'),
                $btn = $('#ctlBtn'),
                state = 'pending',
                uploader;

            uploader = WebUploader.create({
                // 自动上传。
                auto: true,
                // 不压缩image
                resize: false,

                // swf文件路径
                swf: '/Scripts/webuploader/Uploader.swf',

                // 文件接收服务端。
                server: '/Home/Upload',

                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#picker',
                threads: 1
            });

            // 当有文件添加进来的时候
            uploader.on('fileQueued', function (file) {
                $list.append('<div id="' + file.id + '" class="item">' +
                    //'<h4 class="info">' + file.name + '</h4>' +
                    //'<p class="state">等待上传...</p>' +
                '</div>');
            });

            // 文件上传过程中创建进度条实时显示。
            uploader.on('uploadProgress', function (file, percentage) {
                var $li = $('#' + file.id),
                    $percent = $li.find('.progress .progress-bar');

                // 避免重复创建
                if (!$percent.length) {
                    $percent = $('<div class="row"><div class="col-md-5"><div class="progress progress-striped active">' +
                      '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                      '</div>' +
                    '</div></div></div>').appendTo($li).find('.progress-bar');
                }

                $li.find('p.state').text('上传中');

                $percent.css('width', percentage * 100 + '%');
            });
            uploader.on('uploadAccept', function (object, ret) {
                //var temp = $.parseJSON(ret._raw);
                $("#imageCover").attr("src", ret._raw);
                $("#inputCover").attr("value", ret._raw);
            });
            //uploader.on('uploadSuccess', function (file) {
            //    $('#' + file.id).find('p.state').text('已上传');
            //});

            uploader.on('uploadError', function (file) {
                $('#' + file.id).find('p.state').text('上传出错');
            });

            uploader.on('uploadComplete', function (file) {
                $('#' + file.id).find('.progress').fadeOut();
            });

            uploader.on('all', function (type) {
                if (type === 'startUpload') {
                    state = 'uploading';
                } else if (type === 'stopUpload') {
                    state = 'paused';
                } else if (type === 'uploadFinished') {
                    state = 'done';
                }

                if (state === 'uploading') {
                    $btn.text('暂停上传');
                } else {
                    $btn.text('开始上传');
                }
            });

            $btn.on('click', function () {
                if (state === 'uploading') {
                    uploader.stop();
                } else {
                    uploader.upload();
                }
            });
        });

    </script>
</head>
<br /><br /><br />
1112334
<div class="right_item">
    <input type="hidden" value="" name="ImageUrl" id="inputCover">
    <img id="imageCover" src="" />
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <div id="picker">选择文件</div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("#Menu").children("li").eq(0).removeClass("active");
        $("#Menu").children("li").eq(1).removeClass("active");
        $("#Menu").children("li").eq(2).removeClass("active");
        $("#Menu").children("li").eq(3).removeClass("active");
        $("#Menu").children("li").eq(4).removeClass("active");
        $("#Menu").children("li").eq(5).removeClass("active");
        $("#Menu").children("li").eq(5).addClass("active");
    </script>
}