@model PagedList<Product>
@{
    Layout = "/Areas/Wholesaler/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/assets/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/jQueryUI/jquery-ui.css" rel="stylesheet" />
    <style type="text/css">
        #SellingTable_filter {
            margin-right: 100px;
        }

        #SellingTable_length {
            margin-left: 50px;
        }

        .pagination .prev a {
            height: 22px;
        }

        .pagination .next a {
            height: 22px;
        }
    </style>
}
<!--60px占高层-->
<div class="h60"></div>
<div class="part">
    <div class="search_total">
        <ul id="SearchLink">
            <li class="active"><a href="/Wholesaler/WHome/MyLuXian">正在出售的路线</a></li>
            <li class="cut_line"></li>
            <li><a href="/Wholesaler/WHome/MySelledLuXian">已截止线路</a></li>
            <li class="cut_line"></li>
            <li><a href="/Wholesaler/WHome/MyAllLuxian">全部线路</a></li>
        </ul>
        <div class="details_part">
            @using (Ajax.BeginForm("MyLuXian",
                new RouteValueDictionary { { "id", "" } },
                new AjaxOptions
                {
                    UpdateTargetId = "datatarget",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "get"
                }, new RouteValueDictionary { { "id", "searchFormkey" } }))
            {
                <div class="top_line">
                    <p>
                        <input type="text" name="search" placeholder="输入您的搜索条件" id="xianluname">
                        @*<button onclick="serachluxianid()">订单搜索</button>*@
                        <input type="submit" value="订单搜索" />
                        <a class="show_details" onclick="ShowSearchDetails(this);">更多搜索条件<small>∨</small></a>
                    </p>
                </div>
            }
            @using (Ajax.BeginForm("MyLuXian",
                new RouteValueDictionary { { "pageid", "" } },
                new AjaxOptions
                {
                    UpdateTargetId = "datatarget",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "get"
                }, new RouteValueDictionary { { "id", "searchForm" } }))
            {

                <div class="second_line" id="SecondLink_Details">
                    <p>
                        <span>
                            发团时间：
                            <input value="" type="text" name="sst" id="datepicker1" readonly> 至　
                            <input value="" type="text" name="set" id="datepicker2" readonly>
                        </span>
                        <span class="second_line_ct">
                            创建时间：
                            <input value="" type="text" name="cst" id="datepicker3" readonly> 至　
                            <input value="" type="text" name="cet" id="datepicker4" readonly>
                        </span>
                    </p>
                    <p>
                        线路编号：<input type="text" id="luxianid" name="luxianid">
                        <span class="second_line_rn">
                            热度：
                            <select name="resetnum" id="restnumid">
                                <option value="0" selected="selected">全部</option>
                                <option value="1">最热</option>
                                <option value="2">正常</option>
                            </select>
                        </span>
                        <span class="serach_btn">
                            <input type="submit" value="搜索线路" />
                        </span>
                    </p>
                </div>
            }
        </div>
    </div>

    <!--路线管理板块-->
    <div class="line_manage">
        <div class="line_manage_infor" id="ManageInfor">
            <div class="h30"></div>
            <!--正在出售-->
            <div id="datatarget">
                @Html.Partial("MyLuxianSearchPartial", Model)
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
     <script src="~/Scripts/jQueryUI/jquery-ui.js" type="text/javascript"></script>
    <script type="text/javascript">
   
        $(function () {
            $("#datepicker1").datepicker({
                changeMonth: true,  //月份下拉列表
                changeYear: true,  //月份下拉列表
                //showOn: "both",    //点击图片和输入框都弹出面板
                showButtonPanel: true, //显示面板底部按钮
                closeTextType: "关闭", //关闭按钮文字
                currentText: "今天",   //返回今天按钮文字
                dateFormat: "yy-mm-dd",
                dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
                monthNamesShort: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月']
            });
            $("#datepicker2").datepicker({
                changeMonth: true,  //月份下拉列表
                changeYear: true,  //月份下拉列表
                //showOn: "both",    //点击图片和输入框都弹出面板
                showButtonPanel: true, //显示面板底部按钮
                closeTextType: "关闭", //关闭按钮文字
                currentText: "今天",   //返回今天按钮文字
                dateFormat: "yy-mm-dd",
                dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
                monthNamesShort: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月']
            });
            $("#datepicker3").datepicker({
                changeMonth: true,  //月份下拉列表
                changeYear: true,  //月份下拉列表
                //showOn: "both",    //点击图片和输入框都弹出面板
                showButtonPanel: true, //显示面板底部按钮
                closeTextType: "关闭", //关闭按钮文字
                currentText: "今天",   //返回今天按钮文字
                dateFormat: "yy-mm-dd",
                dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
                monthNamesShort: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月']
            });
            $("#datepicker4").datepicker({
                changeMonth: true,  //月份下拉列表
                changeYear: true,  //月份下拉列表
                //showOn: "both",    //点击图片和输入框都弹出面板
                showButtonPanel: true, //显示面板底部按钮
                closeTextType: "关闭", //关闭按钮文字
                currentText: "今天",   //返回今天按钮文字
                dateFormat: "yy-mm-dd",
                dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
                monthNamesShort: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月']
            });
        });
    </script>

    <script type="text/javascript">

        function serach(obj) {
            if ($(obj).hasClass('stop')) {
                return false;
            }
            $.ajax({
                url: "/Wholesaler/WHome/SellingLuXian",
                type: "POST",
                data: {
                    sst: $("#datepicker1").val(),
                    set: $("#datepicker2").val(),
                    cst: $("#datepicker3").val(),
                    cet: $("#datepicker4").val(),
                    luxianid: $("#luxianid").val(),
                    restnum: $("#restnumid").val()
                },
                beforeSend: function (XMLHttpRequest) {
                    $(obj).html("搜索中...");
                    $(obj).addClass('stop');
                },
                success: function (data, textStatus) {
                    $("#luxian").html(data);
                },
                complete: function (XMLHttpRequest, textStatus) {
                    $(obj).html("搜索线路");
                    $(obj).removeClass('stop');
                },
                error: function () {
                    alert("好像出错了，请刷新页面重试");
                }
            });
        }

        function serachluxianid() {
            window.location.href = "/Wholesaler/WHome/MyLuXian?search" + $("#xianluname").val();
        }
        function cancleLuxian(_id) {
            $.ajax(
                {
                    url: "/Wholesaler/WHome/CancelLuXian",
                    type: "POST",
                    data:
                        {
                            id: _id,

                        },
                    beforeSend: function (XMLHttpRequest) {
                    },
                    success: function (data, textStatus) {
                        var res = $.parseJSON(data);
                        if (res.Ok == "1") {
                            location.reload()
                        } else {
                            alert(res.Msg);
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                    },
                    error: function () {
                        alert("好像出错了，请刷新页面重试");
                    }
                })
        }

        function recoverLuXian(_id) {
            $.ajax(
               {
                   url: "/Wholesaler/WHome/RecoverLuXian",
                   type: "POST",
                   data:
                       {
                           id: _id,

                       },
                   beforeSend: function (XMLHttpRequest) {
                   },
                   success: function (data, textStatus) {
                       var res = $.parseJSON(data);
                       if (res.Ok == "1") {
                           location.reload()
                       } else {
                           alert(res.Msg);
                       }
                   },
                   complete: function (XMLHttpRequest, textStatus) {
                   },
                   error: function () {
                       alert("好像出错了，请刷新页面重试");
                   }
               })
        }
</script>

    <script type="text/javascript">
        $("#Menu").children("li").eq(0).removeClass("active");
        $("#Menu").children("li").eq(1).removeClass("active");
        $("#Menu").children("li").eq(2).removeClass("active");
        $("#Menu").children("li").eq(3).removeClass("active");
        $("#Menu").children("li").eq(4).removeClass("active");
        $("#Menu").children("li").eq(5).removeClass("active");
        $("#Menu").children("li").eq(1).addClass("active");
    </script>

}