
@model ReturnForm
@{
    Layout = null;
}
@if (Model == null)
{
    <p>没有数据，请检查搜索条件</p>
}
else
{
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Product.Name</td>
        <td>@Model.Product.User.Company.CompanyName</td>
        <td>@Model.AllCount</td>
        <td>
            <a href="~/Marketer/MReturnOrder/ReturnOrderDetial?id=@Model.Id">
                <span class="company_btn">订单详情</span>
            </a>
        </td>
    </tr>
}
