@model ChildProduct
@{
    Layout = null;
}
@if (Model == null)
{
    <p>没有数据，请检查搜索条件</p>
}
else
{
    <tr>
        <td>@Model.ProductId</td>
        <td>@Model.Product.Name</td>
        <td>@Model.Product.SendGroupTime.ToString("yyyy年MM月dd日")</td>
        <td>@Model.AllCount</td>
        <td>
            @if (Model.Product.FuJian.Equals("[]") || string.IsNullOrEmpty(Model.Product.FuJian))
            {
                <span class="company_btn" style="background-color:green">无附件</span>
            }
            else
            {
                <span class="company_btn"><a href="/Home/DownLuXian/@Model.ProductId" target="_blank">下载路线</a> </span>
            }
        </td>
        <td>
            <a href="~/Marketer/MLine/Order?Id=@Model.Id">
                <span class="company_btn"><i class="i-manage"></i>查看详情</span>
            </a>
        </td>
    </tr>
}

