@section title{
    <title>零售商-公司管理-个人中心</title>
}
<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置：个人中心 >> 重置密码</p>
    <!--公司信息板块-->
    <div class="company_total">
        @Html.Action("CompanyInfo", "MCompany", new { Area = "Marketer" })
    </div>
    <!--添加子账户 详情-->
    <div class="admin_part_add">
        <form action="/Marketer/MAuth/EditInfo" method="post">
            <div class="single_item">
                <div class="left_item">
                    <span>旧密码</span>
                </div>
                <div class="right_item">
                    <input name="oldpass" type="password" placeholder="填写用于登陆的新密码">
                </div>
            </div>
            <div class="single_item">
                <div class="left_item">
                    <span>新密码</span>
                </div>
                <div class="right_item">
                    <input name="newpass" type="password" placeholder="填写用于登陆的新密码">
                </div>
            </div>
            <div class="single_item">
                <div class="left_item">
                    <span>重复输入</span>
                </div>
                <div class="right_item">
                    <input name="newpasstwo" type="password" placeholder="填写用于登陆的新密码">
                    <label style="color:red">@ViewBag.error</label>
                </div>
            </div>
            <div class="single_item_btn">
                <a onclick="history.back();"><span class="btn_cancel">取消</span></a>
                <input class="btn_sub" type="submit" value="确认重置" />
                <div class="clear"></div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        LeftMenuSelect(5);
    </script>
}