@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />

    <link type="text/css" rel="stylesheet" href="/css/base.css">
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <link type="text/css" rel="stylesheet" href="/css/single_login.css">
    <title>旅游分销网站</title>
</head>

<body>
    <div class="login center">
        <div class="bg fl"></div> 
        <div class="board fr">
            <div class="logo">
                <img src="/images/login_logo.png">
            </div>
            <!--登陆信息 板块-->
            <div class="login_part" id="login_part">
                <p class="fs12 f-darkblue fbold mt30">登录旅游分销网</p>
                <form action="~/Marketer/MAuth/Login" method="post">
                    <ul class="mt20">
                        <li>
                            <span id="type-alert">选择账号类别：</span>
                            <div class="type-choose" id="type-choose">
                                <br />
                                <span class="type-pfs" id="choose-pfs">批发商</span>
                                <span class="type-lss" id="choose-lss">零售商</span>
                                <input type="radio" id="login-pfs" class="acc_type" value="pfs" name="type" style="display:none;" />
                                <input type="radio" id="login-lss" class="acc_type" value="lss" name="type" style=  "display:none;" />
                            </div>
                        </li>
                        <div id="login-input-part">
                            <li class="mt30">
                                <input type="text" value="333@qq.com" placeholder="在这里输入登录邮箱" name="email" class="single" />
                            </li>
                            <li class="mt30">
                                <input type="password" value="123456" placeholder="在这里输入密码" name="password" class="single" />
                            </li>
                            <li>
                                <input type="submit" value="确认" onclick="CheckLog(this);" class="btn_sub f-white fs12" /><span class="error"></span>
                            </li>
                        </div>
                    </ul>
                </form>

            </div>
            <div class="footer fs08 mt30 clear">
                <p id="footer_inf">还没有账户？<a href="~/Wholesaler/WAuth/Register">立即注册</a></p>
                <p class="mt10"><a href="#" onclick="alert('请联系网站管理员或公司母账号！');">无法登录账户？</a></p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/js/lee_checkBroswer.js"></script>
    <script type="text/javascript" src="/js/placeholder.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript">
        $(function () {
            $('input, textarea').placeholder();
        });
    </script>
</body>
</html>
